<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{@blog.title}} | {{@blog.description}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="keywords" content="{{meta_keywords}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/assets/img/favicon.png" />

    {{! Stylesheet }}
    <link rel="stylesheet" href="/assets/css/ghostion.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="at_page_surround">
        <div id="at_body">
            {{{ body }}}
        </div>
    </div>

    {{! The main JavaScript file for Ghostion }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-2.1.0.min.js"><\/script>')</script>

    <script>
        /*** CONFIGURATION VARIABLES: EDIT THE VALUES BELOW FOR THEME CONFIGURATION ***/
        var ghostionConfig = {
            site_url:                       "robgraeber.com",
            // google_fonts_family:            "Open+Sans:400,400italic,700,700italic",
            google_analytics_tracking_id:   "UA-3291184-7",
            disqus_shortname:               "robgraeber"
        };
    </script>
    <script src="/assets/js/ghostion.min.js"></script>
</body>
</html>
